* {
    margin: 0;
}
.App {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px 500px;
}

.banner {
    grid-column: 1 / 3;
    background-color: lightblue;
    width: 100vw;
}
.section {
    background-color: aliceblue;
    height: 100vh;
}