* {
    margin: 0;
}
.App {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px 500px;
}

.banner {
    grid-column: 1 / 3;
    background-color: lightblue;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.banner > h1 {
    text-align: center;
    font-size: 4em;
}

.section {
    background-color: aliceblue;
    height: 100vh;
}

ul {
    list-style-type: none;
}

li {
    margin: 15px 0px;
    width: 50%;
    text-align: center;
    font: 2em sans-serif;
}

a {
    text-decoration: none;
}

li:hover {
    text-shadow: 1px 1px 5px gray;
}

#cart {
    float: right;
    display: flex;
    margin: 0 5% 0 0;
    align-items: center;
}

#cart > p {
    font-size: 36px ;
}

.container {
    display: flex;
    gap: 25px;
}

.card {
    border: 1px solid black;
    width: 150px;
    text-align: center;
}

.card > button {
    width: 80%;
    height: 35%;
}